[submodule "mruby"]
	path = mruby
	url = https://github.com/kojix2/mruby
[submodule "bcftools"]
	path = bcftools
	url = https://github.com/kojix2/bcftools
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib
