name: build
on: [push, pull_request]
jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu", "macos"]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "ruby"
      - name: Install dependencies (ubuntu)
        if: ${{ matrix.os == 'ubuntu' }}
        run: sudo apt update -yq && sudo apt-get install -y autoconf automake make gcc perl zlib1g-dev libbz2-dev liblzma-dev libcurl4-openssl-dev libssl-dev libdeflate-dev
      - name: Install autotools (macos)
        if: ${{ matrix.os == 'macos' }}
        run: brew install autoconf automake libdeflate xz
      - run: make
      - uses: actions/upload-artifact@v6
        with:
          name: bcftools-mruby-${{ matrix.os }}
          path: bcftools/bcftools
